<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DCARS</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" >
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" >
    <link rel="stylesheet" href="../css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
</head>
<body class="contacto_body">

    <header>
        <div class="div-index"><a href="../index.html"><img src="../images/RUEDA.png" alt="index_logo" class="logo_div_img_index"></a><a href="../index.html"><p class="p-index">D CARS</p></a></div>
        <nav>
             <ul>
                 <li><a href="../views/productos.html">Productos </a></li>   
                 <li><a href="../views/presupuesto.html">Presupuesto </a></li>     
                 <li class="status"><a href="../views/contactanos.html">Contactanos </a></li>   
             </ul>
        </nav>
        <!-- barra de navegacion-->
    </header>

    <main class="contacto_main">

        <div class="div_horario">
            <h1>Horario</h1>
            <p>
                Lunes:
                - Abierto: 9:00 AM - 6:00 PM <br><br>
                
                Martes:
                - Abierto: 9:00 AM - 6:00 PM <br><br>
                
                Miércoles:
                - Abierto: 9:00 AM - 6:00 PM <br><br>
                
                Jueves:
                - Abierto: 9:00 AM - 6:00 PM <br><br>
                
                Viernes:
                - Abierto: 9:00 AM - 6:00 PM <br><br>
                
                Sábado:
                - Abierto: 10:00 AM - 4:00 PM <br><br>
                
                Domingo: Cerrado </p>
            </div>

            <div class="mapita" id="map"></div>


    

    </main>


    <footer>
        <p class="Texto_footer"> Mount Akina , Gunma , Japan ┃  ┃<a href="https://policies.google.com/privacy?hl=es">Politica de privacidad</a> │ <a href="https://www.google.com/search?client=opera-gx&hs=8nY&sca_esv=5edede5fd926eb91&sxsrf=ACQVn0-VHBi7IK_249btE9CeggC3qJXyqA:1709564092790&q=cookies&uds=AMwkrPsBPNDafjjFvDS5v7DOdiEJGh8_PgYc3LWmvpRN1VI0j2fSTjBMqzoiB1wrQ_BGBjtD2SRsJsILsm9fWbikCFR3HQi-A_ACpWNTh5qUjGj6_K9PQHrEajH1lHPbCv42KZ9h8A0M&udm=2&sa=X&ved=2ahUKEwj-uOLD7tqEAxUBVqQEHWAFD1gQtKgLegQIDhAB&biw=1325&bih=637&dpr=1#vhid=DbmaZ-x3Tk805M&vssid=mosaic">Politica de cookies</a></p>
        <a href="https://www.instagram.com"><img src="../images/instagram_logo.jpg" alt="Instagram_logo" class="footer-img"></a>
        <a href="https://www.facebook.com"><img src="../images/facebook_logo.jpg" alt="Facebook_logo" class="footer-img"></a>
        <a href="https://www.youtube.com"><img src="../images/Youtube_logo.png" alt="Youtube_logo" class="footer-img"></a>
    
    </footer>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    <script src="/js/scriptmap.js"></script>
    <script src="/js/mouseover.js"></script>

</body>
</html>