<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
    
   
    <title>DCARS</title>
  
</head>

<body class="body_productos">
    <header>
        <div class="div-index"><a href="../index.html"><img src="../images/RUEDA.png" alt="index_logo" class="logo_div_img_index_fix1"></a><a href="../index.html"><p class="p-index-fix1">D CARS</p></a></div>
        <nav>
             <ul>
                 <li class="status"><a href="../views/productos.html">Productos </a></li>   
                 <li><a href="../views/presupuesto.html">Presupuesto </a></li>     
                 <li><a href="../views/contactanos.html">Contactanos </a></li>   
             </ul>
        </nav>
    </header>

    <main>

 <div id="line1_names">
  <p id="name1">AE86</p>
  <p id="name2">FD3S</p>
  <p id="name3">GT86</p>
  <p id="name4">Honda NSX6</p>

 </div>     
 <div id="Line1">      
     <div id="control_ae86">
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/images/ae86/toyota_sprinter_trueno.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/images/ae86/TargaSport-Toyota-AE86-Trueno-2.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/images/ae86/foto-27.png" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
     </div>   

    <div id="FD3S_control">
          <div id="carouselExampleIndicatorsFD3S" class="carousel slide">
              <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicatorsFD3S" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicatorsFD3S" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicatorsFD3S" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                  <div class="carousel-item active">
                      <img src="/images/FD3S/FD3S.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                      <img src="/images/FD3S/fc3s2.png" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                      <img src="/images/FD3S/dot.png" class="d-block w-100" alt="...">
                  </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicatorsFD3S" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicatorsFD3S" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
              </button>
          </div>
    </div>     

    <div id="gt86_control">
        <div id="carouselExampleIndicatorsGT86" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicatorsGT86" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicatorsGT86" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicatorsGT86" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/images/gt86/GT86.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/images/gt86/nani.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/images/gt86/toyota-gt86-047.png" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicatorsGT86" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicatorsGT86" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    
    <div id="honda_control"> 
        <div id="carouselHondaIndicators" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselHondaIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselHondaIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselHondaIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/images/HONDA/Honda-NSX-6.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/images/HONDA/honda2.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/images/HONDA/honda3.jpeg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselHondaIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselHondaIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
</div> 

<div id="line2_names"> 
  <p id="name5">MR2</p>
  <p id="name6">R32</p>
  <p id="name7">Subaru Impereza</p>
  <p id="name8">Toyota Supra</p>
</div>
<div id="Line2">
    <div id="MR2_control">
        <div id="carouselMR2Indicators" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselMR2Indicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselMR2Indicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselMR2Indicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/images/MR2/toyota_mr2.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/images/MR2/mr22222222.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/images/MR2/mr2223333.jpeg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselMR2Indicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselMR2Indicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
    
    <div id="r32_control">
        <div id="carouselR32Indicators" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselR32Indicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselR32Indicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselR32Indicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/images/r32/R32.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/images/r32/r32222.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/images/r32/r323333.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselR32Indicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselR32Indicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
    
    <div id="subaru_control">
        <div id="carouselSubaruIndicators" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselSubaruIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselSubaruIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselSubaruIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/images/subaru/subaru.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/images/subaru/historia-subaru-impreza-wrx-2453129.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/images/subaru/1998-subaru-impreza-sti-22b-formerly-owned-by-colin-mcrae.png" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselSubaruIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselSubaruIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
    
    <div id="SUPRA_control">
        <div id="carouselSupraIndicators" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselSupraIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselSupraIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselSupraIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/images/toyota_supra/toyota_supra.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/images/toyota_supra/toyota-supra-rz-matte-white-edition-japan.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/images/toyota_supra/isthatasupra.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselSupraIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselSupraIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
</div>    





















     



 
    </main>

     <footer>
        <p class="Texto_footer"> Mount Akina , Gunma , Japan ┃  ┃<a href="https://policies.google.com/privacy?hl=es">Politica de privacidad</a> │ <a href="https://www.google.com/search?client=opera-gx&hs=8nY&sca_esv=5edede5fd926eb91&sxsrf=ACQVn0-VHBi7IK_249btE9CeggC3qJXyqA:1709564092790&q=cookies&uds=AMwkrPsBPNDafjjFvDS5v7DOdiEJGh8_PgYc3LWmvpRN1VI0j2fSTjBMqzoiB1wrQ_BGBjtD2SRsJsILsm9fWbikCFR3HQi-A_ACpWNTh5qUjGj6_K9PQHrEajH1lHPbCv42KZ9h8A0M&udm=2&sa=X&ved=2ahUKEwj-uOLD7tqEAxUBVqQEHWAFD1gQtKgLegQIDhAB&biw=1325&bih=637&dpr=1#vhid=DbmaZ-x3Tk805M&vssid=mosaic">Politica de cookies</a></p>
        <a href="https://www.instagram.com"><img src="../images/instagram_logo.jpg" alt="Instagram_logo" class="footer-img-fix1"></a>
        <a href="https://www.facebook.com"><img src="../images/facebook_logo.jpg" alt="Facebook_logo" class="footer-img-fix1"></a>
        <a href="https://www.youtube.com"><img src="../images/Youtube_logo.png" alt="Youtube_logo" class="footer-img-fix1"></a>
    </footer>
    <script src="/js/mouseover.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
   
</body>
</html>